<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bharatemart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
				<key>dateExpires</key>
				<string>01/02/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fk_user_agent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>razorpay_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C72A2DDABE8ECE8EC49FD3CBADE68586F6B00E69</string>
						<key>dateExpires</key>
						<string>01/02/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9935HBB5VW</string>
						<key>name</key>
						<string>Silver Touch Technologies Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9935HBB5VW.com.STTLEnterprise.bharatemart</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9935HBB5VW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f0042e5d-a9c4-4ac3-a585-3361b1cd4cb5</string>
				<key>dateExpires</key>
				<string>02/02/24</string>
				<key>name</key>
				<string>enterprise_multiple_distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9935HBB5VW</string>
				<key>name</key>
				<string>Silver Touch Technologies Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
